:root {
  /* color - */
  --clova-black: #1E1E1E;
  --clova-grey: #B1B1B1;
  --clova-green: #05D686;
  --my-beige: #F4F0E6;
  --my-purple: #D9D9F3;
  --my-green: #CEEFE4;
  --my-dark-green: #005533;
  --my-bright-green: #9DD3A8;
  --my-dark-blue: #123;
  /* font-size */
  --small-font: 14px;
  --defult-font: 16px;
  --large-font: 20px;
  --subtitle-font: 28px;
  --title-font: 36px;
  /* line-height */
  --defult-height: 1.66;
  --title-height: 1.16;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: auto;
}

/* tags */

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--defult-font);
  line-height: var(--defult-height);
  color: var(--clova-black);
  display: inline-block;
  vertical-align: baseline;
  width: 100%;
  height: 100%;
}

div {
  padding: 2px 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--title-height);
}

strong {
  padding: 0 5px 0 0;
}

ul {
  padding-left: 0;
  padding: 10px 0;
}

li {
  list-style: none;
  position: relative;
  padding: 10px 0;
}

p {
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: var(--my-dark-green);
  font-weight: 900;
  padding-bottom: .25em;
  cursor: pointer;
  background: linear-gradient(to bottom, var(--my-bright-green) 0%, var(--my-bright-green) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  text-decoration: none;
  padding: 0 3px;
  margin: 3px 10px 0 0;
  transition: all .5s;
}

a:hover {
  color: var(--clova-black);
  background: linear-gradient(to bottom, var(--my-bright-green) 0%, var(--my-bright-green) 100%);
  background-size: 4px 30px;
  background-position: 0 100%;
  background-repeat: repeat-x;
  text-decoration: none;
}

img {
  width: 200px;
}

/* Common */

.container {
  width: 80%;
  max-width: 980px;
  padding: 48px 0;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  margin: 0 auto;
}

/* HEADER */

header {
  background-color: var(--my-green);
}

header .column.left {
  flex: 9;
}

.name {
  font-size: var(--title-font);
}

header .column.right {
  flex: 3;
}

header img.image--cover {
  -webkit-box-shadow: 10px 7px 1px 1px var(--my-bright-green);
  -moz-box-shadow: 10px 7px 1px 1px var(--my-bright-green);
  box-shadow: 10px 7px 1px 1px var(--my-bright-green);
  width: 180px;
  border-radius: 20px;
}

.tags {
  list-style: none;
  margin: 15px 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.tags li {
  float: left;
}

.tag {
  font-size: var(--small-font);
  background-color: var(--my-bright-green);
  margin: 5px;
  padding: 1px 5px;
  border-radius: 5px;
}

header #about>.container {
  width: 90%;
  margin: 0;
  padding: 24px 0;
}

header #about .section_title {
  display: none;
}

/* CARD */

.card {
  width: 50%;
  min-width: 480px;
  max-width: 520px;
  background-color: var(--my-dark-blue);
  color: var(--my-beige);
  font-family: 'Noto Serif KR', serif;
  margin: 0;
  position: absolute;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 10px 1px rgba(55, 55, 55, 0.5);
  -moz-box-shadow: 3px 3px 10px 1px rgba(55, 55, 55, 0.5);
  box-shadow: 3px 3px 10px 1px rgba(55, 55, 55, 0.5);
}

.card .container {
  margin: 0;
  padding: 24px 36px;
  width: 100%;
}

.card_title {
  font-size: var(--large-font);
  font-weight: 900;
  padding: 5px 0;
}

.card_letter {
  font-size: var(--small-font);
  font-weight: 200;
  color: var(--clova-grey);
  padding: 5px 0;
}

.card_letter i, .card_letter a {
  color: var(--my-beige);
  text-decoration: none;
  padding: 3px 0;
}

.card_letter a:hover {
  color: var(--clova-black);
  font-weight: 900;
}

.card_letter i {
  margin-top: 2px;
}

/* MAIN */

main {
  margin-top: 120px;
}

.section_title {
  font-size: var(--subtitle-font);
}

section.education {
  background-color: var(--my-purple);
}