:root {
  /* color - */
  --clova-black: #1e1e1e;
  --clova-grey: #b1b1b1;
  --clova-green: #05d686;
  --beige: #f4f0e6;
  --purple: #d9d9f3;
  --green: #9dd3a8;
  --bright-green: #ceefe4;
  --dark-green: #053;
  --dark-blue: #123;
  --dark-grey: #555;
  /* font-size */
  --small-font: 14px;
  --defult-font: 16px;
  --large-font: 20px;
  --subtitle-font: 28px;
  --title-font: 36px;
  /* line-height */
  --defult-height: 1.66;
  --title-height: 1.16;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: auto;
}

/* tags */

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--defult-font);
  line-height: var(--defult-height);
  color: var(--clova-black);
  display: inline-block;
  vertical-align: baseline;
  width: 100%;
  height: 100%;
}

div {
  padding: 2px 0;
}

h1 {
  font-size: var(--title-font);
  line-height: var(--title-height);
}

h2 {
  font-size: var(--subtitle-font);
  line-height: var(--title-height);
}

h3,
h4,
h5,
h6 {
  font-size: var(--large-font);
  line-height: var(--defult-height);
  margin: 0 0 10px 0;
}

ul {
  padding-left: 0;
  padding: 10px 0;
}

li {
  list-style: none;
  position: relative;
  padding: 15px 0;
}

p {
  margin: 10px 0;
  max-width: 760px;
}

p.description {
  font-size: var(--small-font);
  color: var(--dark-grey);
}

a {
  text-decoration: none;
  color: var(--dark-green);
  font-weight: 900;
  padding-bottom: 0.25em;
  cursor: pointer;
  background: linear-gradient(to bottom, var(--green) 0%, var(--green) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  text-decoration: none;
  padding: 0 3px;
  margin: 0 10px 0 0;
  transition: all 0.5s;
}

span {
  margin: 0 10px 0 0;
}

a:hover {
  color: var(--clova-black);
  background: linear-gradient(to bottom, var(--green) 0%, var(--green) 100%);
  background-size: 4px 30px;
  background-position: 0 100%;
  background-repeat: repeat-x;
  text-decoration: none;
}

img {
  width: 200px;
}

/* Common */
.only-mobile {
  display: none !important;
}

.container {
  width: 80%;
  max-width: 800px;
  left: 0;
  padding: 48px 0 28px 0;
}

.center {
  width: 100%;
}

.center-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-outer {
  display: flex;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-6 {
  flex: 6;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.section_title {
  font-size: var(--subtitle-font);
}

span.period {
  font-size: var(--small-font);
  color: var(--dark-grey);
}

/* Navigation */
nav {
  background-color: var(--bright-green);
  padding: 20px 0;
  text-align: center;
}

nav a {
  color: var(--clova-black);
  font-weight: 100;
  margin: 0 20px;
}

/* Introduction */

#intro {
  background-color: var(--bright-green);
  margin-bottom: 160px;
}

#intro .container {
  padding-top: 24px;
}

#intro img.image--cover {
  -webkit-box-shadow: 10px 7px 1px 1px var(--green);
  -moz-box-shadow: 10px 7px 1px 1px var(--green);
  box-shadow: 10px 7px 1px 1px var(--green);
  width: 180px;
  border-radius: 20px;
}

.tags {
  list-style: none;
  margin: 15px 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.tags li {
  float: left;
}

.tag {
  font-size: var(--small-font);
  background-color: var(--green);
  margin: 5px;
  padding: 1px 5px;
  border-radius: 5px;
}

#intro #about > .container {
  width: 90%;
  margin: 0;
  padding: 24px 0;
}

#intro #about .section_title {
  display: none;
}

/* CARD */

.card {
  width: 50%;
  min-width: 480px;
  max-width: 520px;
  background-color: var(--dark-blue);
  color: var(--beige);
  margin: -10px 0 0 0;
  position: absolute;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 10px 1px rgba(55, 55, 55, 0.5);
  -moz-box-shadow: 3px 3px 10px 1px rgba(55, 55, 55, 0.5);
  box-shadow: 3px 3px 10px 1px rgba(55, 55, 55, 0.5);
}

.card .container {
  margin: 0;
  padding: 24px 36px;
  width: 100%;
}

.card_title {
  font-size: var(--large-font);
  font-weight: 900;
}

.card_letter {
  font-size: var(--small-font);
  font-weight: 200;
  color: var(--clova-grey);
  padding: 10px 0;
}

.card_letter p {
  margin: 0;
  padding: 5px 0;
}

.card_letter i,
.card_letter a {
  color: var(--beige);
  text-decoration: none;
  padding: 3px 0;
}

.card_letter a:hover {
  color: var(--clova-black);
  font-weight: 900;
}

.card_letter i {
  margin-top: 2px;
}

/* EDUCATIONS */
section#educations {
  background-color: var(--purple);
}

/* RESEARCHES and PROJECTS*/
.section_description {
  font-size: var(--small-font);
  color: var(--dark-grey);
}

section#projects .projectItem,
section#researches .researchItem {
  margin: 30px 0;
  padding: 25px 0;
  border-bottom: 1px solid var(--beige);
}

section#projects li:nth-child(1),
section#researches li:nth-child(1) {
  margin-top: 0;
}

section#projects li:nth-last-child(1),
section#researches li:nth-last-child(1) {
  margin-bottom: 0;
}

section#projects .project_year,
section#projects .project_description,
section#researches .conf_title {
  font-size: var(--small-font);
  color: var(--dark-grey);
}

section#researches .name {
  padding: 0;
  margin: 0 0 5px 0;
  font-size: var(--small-font);
  color: var(--dark-grey);
  font-weight: 100;
}

section#researches .my-name {
  color: var(--dark-green);
  font-weight: 900;
}

section#projects .materials,
section#researches .materials {
  font-size: var(--small-font);
}

section#projects .text-zone,
section#projects .image-zone {
  margin-top: auto;
}

section#researches .text-zone,
section#researches .image-zone {
  margin-top: 0;
}

section#projects .paper_thumbnail,
section#researches .paper_thumbnail {
  width: 100%;
  height: 100%;
  padding: 0 0 0 20px;
}

section#projects .paper_thumbnail img,
section#projects .paper_thumbnail video,
section#researches .paper_thumbnail img,
section#researches .paper_thumbnail video {
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  border: 1px solid var(--beige);
  margin: auto;
}

/* footer */
footer {
  max-width: 100%;
  width: 100%;
  text-align: center;
  margin: 0 0 75px 0;
}

footer p {
  width: 100%;
  max-width: 100%;
}
