body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #1e1e1e;
}

#wrap {
  margin: 0 auto;
  max-width: 900px;
  padding: 10px 15px;
}

a {
  text-decoration: none;
  color: #379;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  position: relative;
  margin: 24px 0 36px;
}

li > strong {
  font-size: 18px;
}

#title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  margin-bottom: 20px;
}

#title h1 {
  font-size: 40px;
  line-height: 48px;
  margin: 0;
  color: #005bac;
  min-width: 300px;
}

#title h1 a {
  color: #005bac;
}

#top_menu {
  margin: 0 0 4px 0;
}

#top_menu a:hover {
  color: #005bac;
}

#content {
  position: relative;
  margin-left: 200px;
}

#content a {
  border-bottom: 1px solid #ddd;
}

#content a:hover {
  text-decoration: underline;
  border-bottom: 0;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  font-size: 14px;
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 12px solid transparent;
  border-left: 10px solid #eee;
  border-top: 12px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #005bac;
  color: white;
}

.tag:hover::after {
   border-left-color: #005bac; 
}

#profile_card {
  position: absolute;
  width: 185px;
  left: -200px;
  margin-top: 5px;
  margin-bottom: 20px;
}

#profile_card img#profile_image {
  width: 185px;
  border-radius: 10px;
}

#profile_items {
  margin-top: 15px;
  overflow: hidden;
}

#profile_items li {
  margin: 4px -2px 2px -1px;
  display: inline-flex;
}

#profile_items li i {
  color: #555;
  padding-top: 8px;
  min-width: 28px;
}

#profile_items li a {
  border-bottom: 0;
}

#content h3 {
  margin: 40px 0 15px -1px;
  border-bottom: 1px solid #ddd;
  font-size: 28px;
  line-height: 36px;
  color: #005bac;
  padding-bottom: 3px;
}

#about_me_text {
  margin-top: 10px;
}

#about_me_text p {
  margin: 12px 0;
}

#content a.link_button {
  display: table-cell;
  padding: 6px 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 1px;
  text-transform: uppercase;
}

#content a.link_button:hover {
  background-color: #bcf;
  border: 1px solid #abf;
  text-decoration: none;
}

.date {
  color: #777;
  text-transform: uppercase;
  margin-right: 3px;
}

.left {
  position: absolute;
  font-size: 12px;
  left: -130px;
  width: 110px;
  text-align: right;
  margin-top: 1px;
}

span.booktitle {
  font-style: italic;
}

span.myname {
  color: #005bac;
  font-weight: bold;
}

#content .pub a {
  color: #27c;
  text-decoration: none;
  padding: 4px 4px 3px 0;
  margin-top: 4px;
  margin-right: 2px;
  border: 0;
}

#content .pub a:hover {
  text-decoration: underline;
}

#content .pub a.paper_title {
  color: #333;
}

.paper_thumbnail {
  position: absolute;
  top: 3px;
  left: -225px;
}

.paper_thumbnail img {
  width: 200px;
  margin-left: 5%
}

p.desc {
  color: #555;
  margin-top: 0;
}

p#last_update {
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 600px) {
  #profile_card img#profile_image {
    width: 40%;
  }
  #title {
    flex-wrap: wrap;
  }
  #title h1 {
    width: 100%;
    padding-bottom: 12px;
    font-size: 28px;
  }
  #top_menu {
    border-top: 1px solid #ccc;
    padding-top: 9px;
    width: 100%;
  }
  #content {
    margin-left: 0;
  }
  #profile_card {
    position: relative;
    left: 0;
    width: auto;
    display: flex;
    align-items: flex-end;
  }
  #profile_items {
    margin: 0 0 3px 15px;
  }
  #profile_items li {
    margin: 5px 0 3px 1px;
    display: flex;
  }
  .paper_thumbnail {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  .paper_thumbnail img {
    width: 100%;
    margin: 10px 0 0 0;
  }
  .left {
    position: relative;
    left: 0;
    text-align: left;
    margin-left: 5px;
  }
}
